body {
    background-color: pink;
}


#hd {
    color: black;
}

.all {
    color: black;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

table, th,td {
    background-color: aliceblue;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

#result {
    background-color: blueviolet;
}